body{
        background-image: url('back.jpeg');
}
header{
        background-color: white;
        opacity: 0.9;
}
#i{
    height: 50px;
}
#b{
    background-color: white;
    border-radius: 0px;
    border-width: 2px;
    margin-bottom: 2px;
    height: 25px;
}
#dis{
        background-color: white;
        margin-top: 20px;
        /* height: 250px;*/
        height: fit-content;
        opacity: 1;
        padding: 10px;
}
#nad{
        font-size: 50px;
        padding-bottom: 20px;
        font-family: sans-serif;
        font-style: italic;
}
#ca{
        background-color: rgb(32, 32, 32);
        height: 90px;
        width: 350px;
        padding: 20px;
        font-family: sans-serif;
}
#disic{
        height: 75px;
        align-self: center;
        margin-top: 10px;
        float: left;
}
#men{
        color: white;
        font-family: sans-serif;
        font-size: 20px;
        padding-left: 20px;
}
#butt{
        margin-left: 20px;
        border-radius: 0px;
        border-style: solid;
        border-left-color: red;
        border-top-color: red;
        border-bottom-color: rgb(0, 123, 255);
        border-right-color: rgb(0, 123, 255);
}
