body{
    background-image: url('back.jpeg');
    /*background-repeat: no-repeat;*/
    /*background-size: 100vw 100vh;*/
}
header{
    background-color: white;
    text-align: center;
    background-position: absolute;
    opacity: 0.9;
    font-family: sans-serif;
}
#h1{
    font-size: 70px;
}
#sum{
    background-color: white;
    height: fit-content;
    width: fit-content;
    margin-left: 25px;
    opacity: 0.9;
    font-family: sans-serif;
}
#ls{
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
}
